$big: "UniformProCon-Blk";
$copy-header: "sharpio-bold";
$copy-p: "sharpiro-regular";
$action: "UniformProCon-Med";

@font-face {
  font-family: "UniformProCon-Blk";
  src: url("./font-files/uniform-pro-con-black.woff2") format("woff2");
}
@font-face {
  font-family: "UniformProCon-Med";
  src: url("./font-files/uniform-pro-con-medium.woff2") format("woff2");
}
@font-face {
  font-family: "sharpiro-regular";
  src: url("./font-files/sharpiro-regular.woff2") format("woff2");
}
@font-face {
  font-family: "sharpio-bold";
  src: url("./font-files/sharpiro-bold.woff2") format("woff2");
}
