@use '../abstracts/' as *;
// to do
// |-change divs#mid ... to semantic markup (somethink like dataset, formfiled, form ?) in index.html
// |
// |-try to write some if statements or sass tricks to be able to change style of
// |    the modal with overitting '!important'
// |
// |----make middle #mid section for form inputs and header question to maintain good width on all screen sizes
//    |  you can use clamp(200px, 40vw, 700px) so that it wont get too big or to small without mediaqueries
//    |
//    |-create a grid that sits inside and holds the checkbox answers (fps, mmorpg, racing ...)
//    |
//    |- style as in XD, invisible checkboxes will be useful
.form-window {
  width: 100% !important;
  height: 100vh !important;
  display: grid;
  grid-template-columns: 1fr minmax(0, 800px) 1fr;
  grid-template-rows: clamp(81px, 5.5vw, 105px) 30% 30% 1fr;
  border-top: 1px solid hsla(0, 0%, 100%, 0);
  // backdrop-filter: blur(10px) brightness(90%) !important;
  backdrop-filter: blur(9px) opacity(100%) !important;
  @supports not (backdrop-filter: blur(10px)) {
    background-color: #16152bec;
  }
  #start {
    & > * {
      transform: translateX(-120%) !important;
      transition: 0.6s ease-out;
      &:not(:first-child) {
        transition-delay: 0.15s;
      }
    }
  }
  & > :not(:first-child) {
    display: inherit !important;
    opacity: 1 !important;
    transition: opacity 0.3s 0.9s ease-out;
    pointer-events: all !important;
  }
}
form {
  justify-self: center;
  grid-row: 3/4;
  grid-column: 2/3;
  height: 100%;
  width: 100%;
  display: grid;
  fieldset {
    position: relative;
    display: grid;
    height: 100%;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    border: none;
    legend {
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      top: -45%;
      font-size: 25px;
      font-family: $copy-header;
      color: $offwhite-font;
    }
    .field {
      display: grid;
      max-width: 100%;
      justify-content: center;
      padding: 0;
      height: min-content;
      grid-gap: 0;
      label {
        font-family: $action;
        font-size: 24px;
        color: transparent;
        text-transform: uppercase;
        background: linear-gradient(-50deg, $grey-font 50%, $green 50%);
        background-size: 230% 100%;
        background-position-x: 100%;
        background-repeat: no-repeat;
        background-clip: text;
        -webkit-background-clip: text;
        transition: background-position 0.13s ease-out;
        cursor: pointer;
      }
      input {
        display: none;
        &:checked + label {
          background-position-x: 0%;
        }
      }
    }
  }
}
#left {
  grid-row: 3/4;
  justify-self: center;
  align-self: center;
}
#right {
  grid-row: 3/4;
  justify-self: center;
  align-self: center;

  .arrow {
    transform: rotate(180deg);
  }
}

.arrow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  path {
    stroke-width: 3px;
    fill: none;
  }
  &.grey {
    stroke: $grey-font;
  }
  &.green {
    stroke: $green;
  }
}
