@use '../abstracts/' as *;
// to do
// |-change divs#mid ... to semantic markup (somethink like dataset, formfiled, form ?) in index.html
// |
// |-try to write some if statements or sass tricks to be able to change style of
// |    the modal with overitting '!important'
// |
// |----make middle #mid section for form inputs and header question to maintain good width on all screen sizes
//    |  you can use clamp(200px, 40vw, 700px) so that it wont get too big or to small without mediaqueries
//    |
//    |-create a grid that sits inside and holds the checkbox answers (fps, mmorpg, racing ...)
//    |
//    |- style as in XD, invisible checkboxes will be useful
.form-window {
  width: 100% !important;
  height: 100vh !important;
  display: grid;
  grid-template-columns: 1fr minmax(0, 600px) 1fr;
  grid-template-rows: clamp(81px, 5.5vw, 105px) 1fr;
  border: none !important;
  backdrop-filter: blur(10px) brightness(50%) !important;
  #start {
    left: -40%;
  }
}
form {
  justify-self: center;
  grid-row: 2/3;
  grid-column: 2/3;
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  fieldset {
    position: relative;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    height: 40%;
    border: none;
    legend {
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      top: -40%;
      font-size: 27px;
      font-family: $copy-header;
      color: #e3e3e5;
    }
    label {
      font-family: $action;
      text-transform: uppercase;
      font-size: 27px;
    }
  }
}
#left {
  grid-row: 2/3;
}
#right {
  grid-row: 2/3;
}
